# compiled output
/dist
/node_modules

# Logs
/logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS specific
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.idea
.vscode/*
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Environment variables
.env

# NestJS specific (You can add these if your NestJS app uses them)
.env.test
.env.development
.env.staging

# NestJS - TypeORM
ormconfig.json
ormconfig.dev.json

# Other
*.tmp
*.swp
*.swo
